*.class
*.xsd
*testclasses.xml
.DS_Store
.classpath
.checkstyle
.externalToolBuilders
.metadata
.pmd
.txt
.ruleset
.springBeans
.settings
gensrc/
*.iml
commonwebsrc/
testclasses/

/**/build.xml
/**/classes/
/**/eclipsebin/
/**/dp/**/**/jalo/
/**/bp/**/**/jalo/
!/**/bp/**/**/jalo/QuotationInfo.java
!/**/bp/**/**/jalo/VehicleOrder.java
!/**/bp/**/**/jalo/ServiceOrder.java
/**/testsrc/**/**/jalo/
/yb2bacceleratorstorefront
README

